<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="cml"
            id="br.ufc.great.catchml.CatchML"
            name="CatchML Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="br.ufc.great.catchml.CatchML.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="br.ufc.great.catchml.CatchML.validate">
         <activeWhen>
            <reference
                    definitionId="br.ufc.great.catchml.CatchML.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="br.ufc.great.catchml.CatchML.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="br.ufc.great.catchml.CatchML" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <!--<extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="br.ufc.great.catchml.CatchML"
            name="CatchML">
            <keywordReference id="br.ufc.great.catchml.ui.keyword_CatchML"/>
        </page>
        <page
            category="br.ufc.great.catchml.CatchML"
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="br.ufc.great.catchml.CatchML.coloring"
            name="Syntax Coloring">
            <keywordReference id="br.ufc.great.catchml.ui.keyword_CatchML"/>
        </page>
        <page
            category="br.ufc.great.catchml.CatchML"
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="br.ufc.great.catchml.CatchML.templates"
            name="Templates">
            <keywordReference id="br.ufc.great.catchml.ui.keyword_CatchML"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="br.ufc.great.catchml.CatchML"
            name="CatchML">
            <keywordReference id="br.ufc.great.catchml.ui.keyword_CatchML"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="br.ufc.great.catchml.ui.keyword_CatchML"
            label="CatchML"/>
    </extension>-->
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="br.ufc.great.catchml.CatchML.validate"
            name="Validate">
      </command>
    </extension>
    <!--<extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="br.ufc.great.catchml.CatchML.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="br.ufc.great.catchml.CatchML.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>-->
    <!--
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="br.ufc.great.catchml.CatchML.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="br.ufc.great.catchml.CatchML.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   -->

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="cml">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="cml">
        </resourceServiceProvider>
    </extension>


    <!-- marker definitions for br.ufc.great.catchml.CatchML -->
    <extension
            id="catchml.check.fast"
            name="CatchML Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="catchml.check.normal"
            name="CatchML Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="catchml.check.expensive"
            name="CatchML Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>

  <!-- <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension> -->
   <!--
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="br.ufc.great.catchml.CatchML"
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="br.ufc.great.catchml.CatchML.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="br.ufc.great.catchml.ui.keyword_CatchML"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="br.ufc.great.catchml.CatchML"
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="br.ufc.great.catchml.CatchML.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="br.ufc.great.catchml.ui.keyword_CatchML"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>-->

	<!-- Quick Outline -->
	<!--
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="br.ufc.great.catchml.CatchML.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="br.ufc.great.catchml.CatchML.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension> -->
    <!-- quickfix marker resolution generator for br.ufc.great.catchml.CatchML -->
    <!--
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="br.ufc.great.catchml.ui.catchml.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="br.ufc.great.catchml.ui.catchml.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="br.ufc.great.catchml.ui.catchml.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>-->
   	<!-- Rename Refactoring -->
   	<!--
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="br.ufc.great.catchml.CatchML.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="br.ufc.great.catchml.CatchML.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="br.ufc.great.catchml.CatchML"
	        class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="br.ufc.great.catchml.CatchML.refactoring"
	        name="Refactoring">
	        <keywordReference id="br.ufc.great.catchml.ui.keyword_CatchML"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="br.ufc.great.catchml.CatchML.compare.contentViewers"
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="cml">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="br.ufc.great.catchml.CatchML.compare.contentMergeViewers"
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="cml" label="CatchML Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="br.ufc.great.catchml.CatchML.editors.documentProviders"
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="cml">
    </provider>
  </extension>-->
  
  <!-- On project context submenu "JCAEHV" -->
	
	<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               label="CatchML">
                <command
		            commandId="br.ufc.great.catchml.ui.handler.ValidationCommand"
		            style="push"
		            icon="icons/run.png">
		            <visibleWhen
		                  checkEnabled="false">
		                  <iterate>
					       <adapt type="org.eclipse.core.resources.IResource">
					          <test property="org.eclipse.core.resources.name" 
					                value="*.cml"/>
					       </adapt>
					    	</iterate>
		            </visibleWhen>
		        </command>
              <command
		            commandId="br.ufc.great.catchml.ui.handler.GenerationCommand"
		            style="push">
		            <visibleWhen
		                  checkEnabled="false">
		                  <iterate>
					       <adapt type="org.eclipse.core.resources.IResource">
					          <test property="org.eclipse.core.resources.name" 
					                value="*.cml"/>
					       </adapt>
					    	</iterate>
		            </visibleWhen>
		        </command>
		       <!-- 
		        <command
		            commandId="br.ufc.great.catchml.ui.handler.SCXMLEditorCommand"
		            style="push">
		            <visibleWhen
		                  checkEnabled="false">
		                  <iterate>
					       <adapt type="org.eclipse.core.resources.IResource">
					          <test property="org.eclipse.core.resources.name" 
					                value="*.cml"/>
					       </adapt>
					    	</iterate>
		            </visibleWhen>
		        </command>-->
         </menu>
      </menuContribution>
   </extension>
   
	
	<!-- On file context submenu "JCAEHV"-->  
		
	<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:#TextEditorContext?after=additions">
         <menu
               label="CatchML">
            <command
	           	commandId="br.ufc.great.catchml.ui.handler.ValidationCommand"
	            style="push" 
	            icon="icons/run.png" >
	            <visibleWhen
		                  checkEnabled="false">
		               <reference
		                     definitionId="br.ufc.great.catchml.CatchML.Editor.opened">
		               </reference>
	            </visibleWhen>
        	</command>
            <command
	           	commandId="br.ufc.great.catchml.ui.handler.GenerationCommand"
	            style="push"
	            icon="icons/report.gif" >
	            <visibleWhen
		                  checkEnabled="false">
		               <reference
		                     definitionId="br.ufc.great.catchml.CatchML.Editor.opened">
		               </reference>
	            </visibleWhen>
        	</command> <!--
        	<command
	        commandId="br.ufc.great.catchml.ui.handler.SCXMLEditorCommand"
	        style="push" 
	        icon="icons/scxml.gif" >
	        <visibleWhen
	                  checkEnabled="false">
	               <reference
	                     definitionId="br.ufc.great.catchml.CatchML.Editor.opened">
	               </reference>
	            </visibleWhen>
	    </command>-->
         </menu>
      </menuContribution>
   </extension>
	
	 <!-- Verify Model -->
  
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:br.ufc.great.catchml.ui.handler.ValidationHandler"
           commandId="br.ufc.great.catchml.ui.handler.ValidationCommand">
     </handler>     
  </extension>
  
  <extension
        point="org.eclipse.ui.commands">
        <command name="Verify Model"
              id="br.ufc.great.catchml.ui.handler.ValidationCommand">
        </command>
  </extension>
	
	<!-- /Verify Model -->	
	
	 <!-- Generate Report -->
  
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:br.ufc.great.catchml.ui.handler.GenerationHandler"
           commandId="br.ufc.great.catchml.ui.handler.GenerationCommand">
     </handler>     
  </extension>
  
  <extension
        point="org.eclipse.ui.commands">
        <command name="Generate Report"
              id="br.ufc.great.catchml.ui.handler.GenerationCommand">
        </command>
  </extension>
	
	<!--//Generate Report -->	
	
	
	<!-- SCXML editor -->
	
	 <extension
	    point="org.eclipse.ui.handlers">
	 <handler
	       class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:br.ufc.great.catchml.ui.handler.SCXMLEditorHandler"
	       commandId="br.ufc.great.catchml.ui.handler.SCXMLEditorCommand">
	 </handler>
	     
	  </extension>
	  
	  <extension
	    point="org.eclipse.ui.commands">
	    <command name="Edit SCXML Model"
	          id="br.ufc.great.catchml.ui.handler.SCXMLEditorCommand">
	    </command>
	  </extension>
	
	<!-- //SCXML editor -->
	
	<!-- CatchML Perspective -->
	<extension point="org.eclipse.ui.perspectives">
	   <perspective
          class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:br.ufc.great.catchml.ui.utils.CatchMLPerspective"
          icon="icons/perspective.png"
          id="br.ufc.great.catchml.ui.utils.CatchML"
          name="CatchML">
	   </perspective>
	</extension>
	
	<extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ui.Basic"
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:br.ufc.great.catchml.ui.wizards.CatchMLProjectWizard"
            finalPerspective="br.ufc.great.catchml.ui.utils.CatchML"
            icon="icons/project.png"
            id="br.ufc.great.catchml.ui.wizards.newcatchmlproject"
            name="CatchML Project">
      </wizard>
      <wizard
            category="org.eclipse.ui.Basic"
            class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:br.ufc.great.catchml.ui.wizards.CatchMLFileWizard"
            finalPerspective="br.ufc.great.catchml.ui.utils.CatchML"
            icon="icons/file.png"
            id="br.ufc.great.catchml.ui.wizards.newcatchmlfile"
            name="CatchML File">
      </wizard>
   </extension>
 <extension
       id="br.ufc.great.catchml.ui.projectNature"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="br.ufc.great.catchml.ui.CatchMLExecutableExtensionFactory:br.ufc.great.catchml.ui.natures.ProjectNature">
       </run>
    </runtime>
 </extension>
</plugin>
